.search-input {
  width: 360px;
  height: 50px;
  overflow: hidden;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(#213f7d, 0.2);
  border-radius: 25px;
  min-width: 348px;
  display: flex;
  white-space: nowrap;

  .input {
    width: calc(100% - 56px);
    height: 100%;

    .search-input-content {
      padding: 12px 20px;
      border: none;
      outline: none;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      color: black;
      font-size: 14px;
      gap:10px;
      display: flex;
      align-items: center;

      .line {
        background-color: rgba(#545f7d, 0.2);
        width: 1px;
        height: 27px;

      }
      p{
          color: #545f7d;
      }
    } 
    
  }

  button {
    border: none;
    background: red;
    height: 80%;
    border-radius: 60px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4px 10px;
    cursor: pointer;
  }
}
