.sidebar-container {
  height: 85px;
  background-color: #ffff;
  width: 100%;

  .table-wraper {
    display: flex;
    padding: 25px 86px;
    gap: 20px;
    white-space: nowrap;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  
}
