.nav-wapper {
  height: 85px;
  background-color: #ffff;
  width: 100%;

  .nav-content {
    align-items: center;
    display: flex;
    height: 100%;
    cursor: pointer;
    justify-content: space-between;
    padding: 0 86px;
    .logo-container {
      color: crimson;
      font-weight: bolder;
      font-size: larger;
    }
    .button-container {
      display: flex;
      gap: 20px;

      .right-content {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 200px;
        .text-host{
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;
          font-size: 14px;
          border: none;
          border-radius: 10px;
          &:hover {
            background-color: rgba(253, 251, 249, 0.472);
          }
        }
        
        .world-icon{
          width: 40px;
          height: 30px;
          border-radius: 20px;
          display: flex;
          color: #000;
          justify-content: center;
          align-items: center;
          img{
            width: 20px;
          }
          &:hover {
            background-color: rgba(253, 251, 249, 0.472);
          }
        }
        .profile-image {
          width: 70px;
          height: 40px;
          gap: 10px;
          border-radius: 43%;
          border: 1px solid rgba(#213f7d, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: rgba(253, 251, 249, 0.472);
          }
          .image {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #545f7d;
            border-radius: 50px;
            img {
              width: 15px;
              border-radius: 10px;
              background-color: white;
            }
          }
          img {
            width: 20px;
          }
        }
      }
    }
  }
}
