.card-list {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 18.5px;
  // padding: 40px 85px;
  // padding: 0 px 0 86px;
  // padding-left: 86px;
  // padding-right: 86px;
  overflow: hidden;
  flex-wrap: wrap;

  @media only screen and (min-width: 1440px) {
    gap: 25px;
  }
}